version: '3.8'

services:
  etps:
    image: xiaoniucode/etps:latest
    container_name: etps
    restart: always
    ports:
      - "8020:8020"     # Web管理界面
      - "9527:9527"     # 客户端通信端口
      - "8600-8609:8600-8609"  # 端口范围映射
    environment:
      - ETP_DB_PATH=/app/data/etp.db
      - JVM_OPTS=-Xmx1g -Xms1g #JVM参数
    volumes: # 数据持久化
      - opt/etps/data:/app/data \ # 数据
      - opt/etps/logs:/app/logs \ # 日志
      - opt/etps/etps.toml:/app/etps.toml \ # 配置文件
    networks:
      - etps-network

networks:
  etps-network:
    driver: bridge
