<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>监控</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/layui/css/layui.css" rel="stylesheet">
    <style>
        .padding-right15 {
            padding-right: 15px;
        }
    </style>
</head>
<body>
<div class="layui-row" style="text-align: center">
    <div class="layui-col-sm3 padding-right15">
        <div class="layui-panel">
            <div style="padding: 32px;">
                <div>客户端总数</div>
                <div>2</div>
            </div>
        </div>
    </div>
    <div class="layui-col-sm3 padding-right15">
        <div class="layui-panel">
            <div style="padding: 32px;">
                <div>在线客户端数</div>
                <div>2</div>
            </div>
        </div>
    </div>
    <div class="layui-col-sm3 padding-right15">
        <div class="layui-panel">
            <div style="padding: 32px;">
                <div>映射总数</div>
                <div>2</div>
            </div>
        </div>
    </div>
    <div class="layui-col-sm3">
        <div class="layui-panel">
            <div style="padding: 32px;">
                <div>已启动映射数</div>
                <div>2</div>
            </div>
        </div>
    </div>
</div>
<script src="/static/layui/layui.js"></script>
</body>
</html>
