<!DOCTYPE html>
<html>
<head>
    <title>新增客户端</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/layui/css/layui.css" rel="stylesheet">
</head>
<body>
<div class="layui-container" style="padding-top: 15px">
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required" placeholder="请输入一个简短的客户端名"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit lay-filter="demo1">创建</button>
            </div>
        </div>
    </form>
</div>
<script src="/static/layui/layui.js"></script>
<script src="/static/js/ajax.js"></script>
<script>
    layui.use(['form', 'jquery', 'Rest'], function () {
        const form = layui.form;
        const Rest = layui.Rest;
        const $ = layui.$;
        form.on('submit(demo1)', function (data) {
            const field = data.field;
            Rest.post('/api/client/add', field).then(res => {
                layer.msg('创建成功', {icon: 1, time: 400,}, () => {
                    // 调用父页面的刷新函数
                    if (parent.loadClientData) {
                        parent.loadClientData();
                    }
                    parent.layer.close(parent.layer.getFrameIndex(window.name));
                });
            })
            return false;
        });
    });
</script>
</body>
</html>
