<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>编辑客户端</title>
    <link href="/static/layui/css/layui.css" rel="stylesheet">
</head>
<body>
<div class="layui-container" style="padding-top: 15px">
    <form class="layui-form  layui-form-pane" lay-filter="editForm">
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required" placeholder="请输入一个简短的客户端名"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="text-align: left">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit lay-filter="demo1">保存更新</button>
            </div>
        </div>
    </form>
</div>
<script src="/static/layui/layui.js"></script>
<script src="/static/js/ajax.js"></script>
<script>
    function getQueryParam(name) {
        const reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        const r = window.location.search.substr(1).match(reg);
        if (r != null) return decodeURIComponent(r[2]);
        return null;
    }

    layui.use(['form', 'jquery', 'Rest'], function () {
        const form = layui.form;
        const Rest = layui.Rest;
        const $ = layui.$;
        const id = getQueryParam("id");
        Rest.get('/api/client/get?id=' + id).then(data => {
            form.val('editForm', data);
        })
        form.on('submit(demo1)', function (data) {
            const field = data.field;
            Rest.put('/api/client/update', {id: id, name: field.name}).then(res => {
                layer.msg('更新成功', {icon: 1, time: 400,}, () => {
                    const parentTable = parent.layui.table;
                    parentTable.reload('client');
                    parent.layer.close(parent.layer.getFrameIndex(window.name));
                });
            })
            return false;
        });
    });
</script>
</body>
</html>
